body{
	overflow-x:hidden;
}

.week{
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	margin: 5px 5px 5px 0px;
	cursor: pointer;
}

.weekLegend{
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	margin: 5px 5px 5px 0px;
	cursor: pointer;
}

.week:hover{
	background: #1098E8;
}

.weekLived{
	background: #1098E8;
}

.textbox{
	width: 5%;
}

.textbox:focus{
	outline: none;
}
button{
	margin-top: 5px;
}

/*Copyright (c) 2016 Gásten Sénior Kalemba Sauzande*/